<div class="modal-header">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Add a Team Member</h3>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
