<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="schedule-table">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Start</th>
        <th>End</th>
        <th>Actions</th>
      </tr>
      <% n = 1 %>
      <% @schedules.each do |schedule| %>
        <%= render 'schedule', schedule: schedule %>
      <% end %>
    </table>
  </div>
</div>