<div class="container">
  <div class="well">
    <%= link_to "New Schedule", new_schedule_path, remote: true, class: "btn btn-primary" %>
  </div>
</div>
<div class="new-schedule"></div>

</br>

<%= render 'index' %>

<div id="schedule-modal" class="modal fade"></div>
