<h1>Schedule VIEW</h1>

<div class="container">
  <table class="table table-striped table-bordered table-condensed">
    <tr class="info">
      <th class="text-center">Sunday</th>
      <th class="text-center">Monday</th>
      <th class="text-center">Tuesday</th>
      <th class="text-center">Wednesday</th>
      <th class="text-center">Thursday</th>
      <th class="text-center">Friday</th>
      <th class="text-center">Saturday</th>
    </tr>
    <tr>
      <td class="day col-sm-1"></td>
      <td class="day col-sm-1"></td>
      <td class="day col-sm-1"></td>
      <td class="day col-sm-1"></td>
      <td class="day col-sm-1"></td>
      <td class="day col-sm-1"></td>
      <td class="day col-sm-1"></td>
    </tr>
  </table>
</div>