.day {
  height: 100px;
  position: relative;
}

.blank_day {
  background-color: #848484;
}

.day-number {
  text-align: right;
  padding: 0px 5px;
}

.month {
  font-style: italic;
  text-align: right;
  padding: 0px 5px;
}

.odd_month {
  background-color: #FEF9E7;
}

.even_month {
  background-color: #FDF2E9;
}

.senior {
  border: 1px;
  border-style: solid;
  border-color: green;
}