<!DOCTYPE html>
<html>
<head>
  <title>Scheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="lLB84UmudJeNozYzd5LVWzo27dnBEALdbOK4UQoVomI" />
</head>
<body>

<%= yield %>

</body>
</html>
